.videoTag {
  filter: brightness(0.6);
  top: -8%;
  float: left;
  height: auto;
  position: fixed;
  width: 100%;
  z-index: -9999;
}

.pageFrame {
  border: 40px solid;
  border-image: url('/src/assets/mainFrame.svg') 60 stretch;
  filter: drop-shadow(-12px 12px 0px rgba(55, 19, 83, 0.27));
  height: 90%;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.bubbleFrame {
  border: 40px solid;
  border-image: url('/src/assets/bubbleFrame.svg') 33% / auto / 0 0 1 repeat;
  filter: drop-shadow(-12px 12px 0px rgba(55, 19, 83, 0.27));
  width: max-content;
  height: max-content;
  font-size: 2.7vw;
  line-height: 2.3vw;
  top: 17%;
  position: relative;
}

/* .bubbleFrame > p > b {
   text-stroke: 0.6px solid #F7EEFF;
  text-shadow: -0.6px 0.6px 0 #F7EEFF,
				  0.6px 0.6px 0 #F7EEFF,
				 0.6px -0.6px 0 #F7EEFF,
				-0.6px -0.6px 0 #F7EEFF;
} */
